.App{
  padding:0px 100px;   
 display: flex;
 height: 100vh;
 align-items:center;
 justify-content: center;
 text-align: center;
}
a{
 text-decoration: none;
}
.titles{
 font-family: 'Nunito Sans', sans-serif;

 font-weight: bolder;
 color:#393939;
 
}
.books{
 display: flex;
 gap: 10px;
 margin-bottom: 50px;
 height: 100%;
 
}
.book{
 flex: 1;
 display:flex;
 flex-direction: column;
 gap: 10px;
 height: 400px;
 
}

.price{
 color:#393939;
 font-weight: bold;
 margin: 10px;
}

.card-img-top{
 width: 100%;
height: 200px;
 object-fit:contain;
 background-color: #F7F7F7;
}
.card-title{
 font-family: 'Nunito Sans', sans-serif;
 font-size: large;
 font-weight:bold;
 color:#393939;
}

.delete{
 border: none;
 padding: 3px 6px;
 background-color: white;
 cursor: pointer;
 border: 1px solid rgb(245, 191, 191);
 color: rgb(245, 100, 100);

}
.update{
 border: none;
 padding: 3px 6px;
 background-color: white;
 cursor: pointer;
 border: 1px solid rgb(204, 204, 243);
 color: rgb(139, 139, 234);

}
.form {
 display:flex;
 flex-direction: column;
 gap: 20px;
}
.btn-add{
 border: 1px solid rgb(204, 204, 243);
 color: rgb(77, 77, 92);
}
input{
 width:250px;
 padding: 10px;
 border: 1px solid gray;
}
.formButton{
 border:none;
 padding: 10px;
 background-color:lightcoral ;
 color: white;
 font-weight: bold;
 cursor: pointer;
}
.formButton-up{
 border:none;
 padding: 10px;
 background-color:rgb(194, 150, 229) ;
 color: white;
 font-weight: bold;

}